.main {
    padding: 50px;
}

.loading {
    display: inline-block;
    position: absolute;
    top: -49px;
    left: 14px;
}

.progressing {
    display: inline-block;
    position: absolute;
    top: -11px;
    left: 120px;
    font-size: 15px;
}